.abt h2 {
    color: white;
}


#About {
    padding: 2px;
    margin-top: -50px;
}

.About figure {
    text-align: center;
}

.About img {
    max-width: 200px;
    border-radius: 50%;
}

figcaption {
    text-align: left;
}

.About figcaption {
    margin-top: 10px;
    font-size: 16px;
}

.About {
    padding: 2px 5px;
    width: 100%;
    /* max-width: 120%; */
    /* border-radius: 10px; */
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.About fieldset {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
}

figure img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    margin-top: 15px;
}

@media (max-width: 768px) {
    #About {
        padding: -10px;
    }

    .About figure {
        text-align: center;
    }

    .About img {
        max-width: 200px;
        border-radius: 50%;
    }

    .About figcaption {
        margin-top: 10px;
        font-size: 14px;
    }

    figcaption {
        /* text-align: left; */
        font-size: 14px;
    }

    .About fieldset {
        font-size: 18px;
    }

    figure img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 2px solid black;
    }

    .Abt .gradient-button {
        margin-bottom: 15px;
    }

    .About {
        width: 100%;
    }
}