.item-name,
.titlename {
    font-family: serif;
    color: white;
    text-align: left;
    margin: 50px 0 10px 20px;
    font-size: 45px;
    user-select: none;
}

.item-name h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: -10px;
    text-align: left;
}

.typewriter-text {
    font-size: 1.5rem;
    color: #ffffff;
}

.typing-effect {
    color: white;
}

.typewritter {
    color: white;
}

.gradient-button {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    margin: 30px auto;
    padding: 20px 35px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(31, 38, 135, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.25);
    display: block;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease;
    transform-origin: center;
}

.gradient-button:hover {
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.gradient-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.10);

    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2);
    opacity: 0.8;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.gradient-button:focus {
    outline: none;
    color: white;
}

@media (max-width: 768px) {
    .item-name h2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 1px;
        margin-right: -10px;
        text-align: left;
    }

    .item-name,
    .titlename {
        font-size: 30px !important;
        margin-top: 80px;
    }

    .typing-effect {
        margin-top: 40px;
        color: white;
    }
}